<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastra-se</title>

    <link rel="stylesheet" href="/css/output.css" >
</head>
<body class="bg-blue-400  ">
    <main class="flex flex-col justify-center justify-items-center  content-center min-h-screen  ">
        <div class="bg-amber-50 self-center justify-self-center    size-[50rem]  flex flex-row-reverse justify-center items-center rounded-2xl p-12  ">
                <div class="flex flex-col size-48 mr-32 shadow-2xl rounded-2xl    ">
                    <h1 class="text-2xl text-center mb-8 font-bold">Cadastra-se</h1>
                    <form action="" method="post"></form>

                        <input type="email" name="email" id="email" placeholder="Digite seu e-mail " class="bg-gray-500/25 rounded-2xl text-center my-2 mx-2 px-4 " >

                        <input type="text" name="name" id="name" placeholder="Digite seu nome" class="bg-gray-500/25 rounded-2xl mx-2 text-center " >
                        <input type="submit" name="submit" id="submit" class="bg-blue-300/25 rounded-2xl text-center my-5 " >
                </div>
            <div class="flex flex flex-col justify-center items-center rounded-2xl p-12   ">
                <div class=" rounded-3xl">
                    <img src="/img/girl-8435340_1280.webp" alt="" class="size-3/4 ml-20 rounded-4xl drop-shadow-2xl animate-pulse ">
                </div>
                
            </div>
            


        </div>

</main>
</body>
</html>